
*.zip
*.spec
*.exe
Others/
build/
dist/
__pycache__/
venv/
environment/
*\Webcam Motion Detector\status.csv
Webcam Motion Detector/plot_01.html
Webcam Motion Detector/detection_plot.html
Webcam Motion Detector/Bokeh intro.ipynb
Webcam Motion Detector/.ipynb_checkpoints/Bokeh intro-checkpoint.ipynb
