<!DOCTYPE html>
<html>
    <head>
        <title>My Flask Website</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">
                    Curriculum
                </h1>
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about/">About</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header>
        <div class="container">
            {%block content%}
            {%endblock%}
        </div>
    </body>
</html>
